body {
    background: #c9c9c9;  
     
}
main{
    width: 70%;  
    margin: auto;  
    
}
h1{
    text-align: center;
    font-size: 66px;
}
p{
    font-family: Arial, Helvetica, sans-serif ;
 }
strong{
    font-size: 1rem;
}

h2{
    color: #c33a31;
    font-size: 2em;
}
.design{
    border-collapse: collapse;
    width: 100%;
    min-width: auto;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
thead tr{
    background-color: black;
    color: white;
}
tr td, th{
    padding: 10px;
}
tbody tr:nth-child(even){
    background-color:#dedede;
}
tbody tr:hover{
    background-color: grey;
}

a{
    color: #c33a31;
    font-weight: bolder;
}

figure{
    width: 100%;
    background-color:#303030;
    border:3px solid #c33a31;
    border-radius: 10px;
    margin-left: 0px;
    padding-top: 30px;
    
}

figcaption{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px auto;
    width: 100%;
   
}
figure img{
    display: block;
    width: 95%;
    margin: auto;
}
.fin{
    width: 90%;
    margin: auto;
    border:3px dashed #4358ad;
    color: #4358ad;
    padding: 1%;
    background-color: #b8b8b8;
    line-height: 2em;


}
.code{
    width: 80%;
    background-color:#303030;
    border:3px solid gray;
    color: white;
    
}
pre{
    width: 80%
    }
li{
    font-family: Arial, Helvetica, sans-serif ;
    list-style: none;
}